<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EyeCarePC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EyeCarePC.Properties.Settings>
            <setting name="disabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shortBreaks" serializeAs="String">
                <value>00:40:00</value>
            </setting>
            <setting name="disableOnFullScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="forceNoClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="longBreaks" serializeAs="String">
                <value>01:30:00</value>
            </setting>
            <setting name="shortBreakDuration" serializeAs="String">
                <value>00:00:20</value>
            </setting>
            <setting name="longBreakDuration" serializeAs="String">
                <value>00:03:00</value>
            </setting>
            <setting name="audios" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="runStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showOnAllMonitors" serializeAs="String">
                <value>True</value>
            </setting>
        </EyeCarePC.Properties.Settings>
    </userSettings>
</configuration>